<% @title = raw "Privat&euml;sia juaj" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
	<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>
	<dl>
		<dt id="email_address">Kush mund t&euml; shoh&euml; adres&euml;n time t&euml; post&euml;s elektronike? <a href="#email_address">#</a> </dt>
		<dd>
			<p>Ne nuk do e shfaqim adres&euml;n tuaj elektronike tek askush, p&euml;rve&ccedil;se kur jemi t&euml; detyruar sipas ligjit, ose kur ju na k&euml;rkoni q&euml; ta shfaqim. K&euml;tu p&euml;rfshihen institucionet publike, t&euml; cil&euml;ve po ju d&euml;rgoni nj&euml; k&euml;rkes&euml;. Ata shohin vet&euml;m nj&euml; adres&euml; elektronike @<%= AlaveteliConfiguration::incoming_email_domain %> q&euml; &euml;sht&euml; specifike p&euml;r at&euml; k&euml;rkes&euml;.</p>
			<p>N&euml;se d&euml;rgoni mesazh te nj&euml; p&euml;rdorues tjet&euml;r n&euml; k&euml;t&euml; faqe, at&euml;her&euml; adresa juaj do t&euml; shfaqet p&euml;r ta. Ju do t&euml; lajm&euml;roheni q&euml; di&ccedil;ka e till&euml; do t&euml; ndodh&euml;.</p>
		</dd>
		<dt id="nasty_spam">Do t&euml; d&euml;rgoni spam-e t&euml; k&euml;qija n&euml; adres&euml;n time elektronike? <a href="#nasty_spam">#</a> </dt>
		<dd>
			<p>JO. Pasi t&euml; jeni ky&ccedil;ur n&euml; <%= site_name %>ne do t&rsquo;ju d&euml;rgojm&euml; vet&euml;m mesazhe elektronike, q&euml; lidhen me k&euml;rkes&euml;n q&euml; k&euml;ni b&euml;r&euml;, nj&euml; mesazh lajm&euml;rues q&euml; ju jeni abonuar, ose p&euml;r arsye t&euml; tjera q&euml; ju keni autorizuar specifikisht. Ne kurr&euml; nuk do ta japim adres&euml;n tuaj tek askush p&euml;rve&ccedil;se kur jemi t&euml; detyruar sipas ligjit, ose kur ju na k&euml;rkoni q&euml; ta shfaqim.</p>
		</dd>
		<dt id="public_request">Pse emri dhe kerkesa ime do t&euml; shfaqen publikisht n&euml; k&euml;t&euml; faqe? <a href="#public_request">#</a> </dt>
		<dd>
			<p>Ne publikojm&euml; k&euml;rkes&euml;n tuaj n&euml; Internet, n&euml; m&euml;nyr&euml; q&euml; t&euml; gjith&euml; mund ta lexojn&euml; dhe ta p&euml;rdorin informacionin q&euml; ju keni gjetur. Dhe k&euml;rkesat zakonisht nuk i fshijm&euml; (<a href="#delete_requests">me shume detaje</a>). </p>
			<p>Emri juaj &euml;sht&euml; i lidhur me k&euml;rkes&euml;n q&euml; keni b&euml;r&euml;, prandaj duhet t&euml; publikohet gjithashtu. &euml;sht&euml; e drejt&euml; q&euml; ne t&euml; publikojm&euml;, gjithashtu, edhe emrat e n&euml;pun&euml;sve civil, t&euml; cil&euml;t iu p&euml;rgjigjen k&euml;rkesave tuaja. Duke p&euml;rdorur emrin tuaj t&euml; v&euml;rtet&euml;, i jepni mund&euml;si dhe t&euml; tjer&euml;ve t&rsquo;ju kontaktojn&euml; dhe t&rsquo;ju ndihmojn&euml; n&euml; k&euml;rkimin q&euml; po b&euml;ni, ose t&rsquo;ju mb&euml;shtesin. </p>
			<p>Sipas ligjit, ju duhet t&euml; p&euml;rdorni emrin tuaj t&euml; v&euml;rtet&euml; q&euml; k&euml;rkesat t&euml; jen&euml; t&euml; vlefshme p&euml;r t&euml; qen&euml; k&euml;rkesa t&euml; s&euml; Drejt&euml;s s&euml; Informimit. Shihni pyetjen tjet&euml;r p&euml;r alternativ&euml; n&euml;se nuk d&euml;shironi t&euml; publikoni emrin tuaj t&euml; plot&euml;</p>
		</dd>
		<dt id="real_name">A mund t&euml; b&euml;j nj&euml; k&euml;rkes&euml; p&euml;r t&euml; Drejt&euml;n e Informimit duke p&euml;rdorur nj&euml; pseudonim? <a href="#real_name">#</a> </dt>
		<dd>
			<p>Teknikisht, ju duhet t&euml; p&euml;rdorni emrin e v&euml;rtet&euml; q&euml; k&euml;rkesat t&euml; jen&euml; t&euml; vlefshme sipas ligjit. <a href="http://www.idp.al/images/Legjislacion/Ligje/160-2014-DI.pdf">Shihni k&euml;t&euml;</a> </p>
			<p>Megjithat&euml;, n&euml; rast se asnj&euml; form&euml; e paraqitur m&euml; posht&euml; nuk ju p&euml;rshtatet (vazhdoni lexoni pikat e tjera), DUAINFO.ORG mund t&euml; d&euml;rgoj&euml; k&euml;rkes&euml;n n&euml; emrin tuaj, pasi t&euml; na keni kontaktuar n&euml; adres&euml;n ton&euml; elektronike dhe t&euml; keni shprehur se &ccedil;far&euml; k&euml;rkese p&euml;r t&euml; Drejt&euml;n e Informimit doni t&euml; d&euml;rgoni dhe te cili institucion publik. K&euml;shtu, emri juaj nuk do t&euml; shfaqet n&euml; institucionin publik.</p>
			<p>Ka dhe alternativa t&euml; tjera sesa p&euml;rdorimin e nj&euml; pseudonimi.</p>
			<ul>
			<li>Grat&euml; mund t&euml; p&euml;rdorin emrin e tyre t&euml; beqaris&euml;.</li>
			<li>P&euml;rdorni emrin e nj&euml; organizate, emrin e nj&euml; kompanie, emrin komercial t&euml; nj&euml; kompanie.</li>
			<li>K&euml;rkojini dikujt tjet&euml;r t&euml; b&euml;j&euml; k&euml;rkes&euml;n n&euml; emrin tuaj.</li>
			</ul>
			<p>Si&ccedil; u tha edhe m&euml; sip&euml;r, n&euml;se nuk doni t&euml; jeni n&euml; asnj&euml; m&euml;nyr&euml; t&euml; shfaqur publikisht dhe nuk keni nj&euml; kontakt tjet&euml;r q&euml; mund ta p&euml;rdorni, at&euml;her&euml; DUAINFO.org do t&euml; kryej&euml; k&euml;rkesat n&euml; emrin tuaj. Ju lutemi, <a href="/help/contact">na kontaktoni</a> me nj&euml; arsye t&euml; mir&euml; pse ju apo nj&euml; miku juaj nuk mund ta b&euml;ni dot k&euml;rkes&euml;n n&euml; emrin e v&euml;rtet&euml;. Ne nuk kemi mund&euml;si t&euml; akomodojm&euml; k&euml;rkesat e t&euml; gjith&euml;ve n&euml; k&euml;t&euml; m&euml;nyr&euml;.</p>
			<p>Ju lutemi, mos u p&euml;rpiqni t&euml; personifikoni dik&euml; tjet&euml;r.</p>
		</dd>
		<dt id="full_address">Ata m&euml; kan&euml; k&euml;rkuar adres&euml;n postare! <a href="#full_address">#</a> </dt>
		<dd>
			<p>N&euml;se nj&euml; institucion publik k&euml;rkon adres&euml;n tuaj t&euml; plot&euml; postare, p&euml;rgjigju se sipas nenit 11 pika 1 n&euml; ligjin e t&euml; Drejt&euml;s s&euml; Informimit k&euml;rkohet adres&euml; korrespondence dhe adresa juaj elektronike &euml;sht&euml; e mjaftueshme.</p>
		</dd>
		<dt id="postal_answer">Jo jo, ata k&euml;rkojn&euml; nj&euml; adres&euml; postare p&euml;r t&euml; d&euml;rguar p&euml;rgjigjen dorazi! <a href="#postal_answer">#</a> </dt>
		<dd>
			<p>N&euml;se nj&euml; institucion ka vet&euml;m kopje n&euml; let&euml;r p&euml;r informacionin q&euml; ju d&euml;shironi, ata mund t'ju k&euml;rkojn&euml; nj&euml; adres&euml; postare. Si fillim, mund t&euml; k&euml;rkoni q&euml; t'jua d&euml;rgojn&euml; t&euml; skanuar.</p>
			<p>N&euml;se nuk funksionon dhe duhet t&euml; jepni adres&euml;n, at&euml;her&euml; mund t&euml; jepni adres&euml;n e skuadr&euml;s DUAINFO.org, por m&euml; par&euml;, na kontaktoni.</p>
		</dd>
		<dt id="delete_requests">A mund t&euml; fshini k&euml;rkesat e mia, ose t&euml; ndryshoni emrin tim? <a href="#delete_requests">#</a> </dt>
		<dd>
			<p><%= site_name %> &euml;sht&euml; nj&euml; arkiv&euml; publike permanente p&euml;r k&euml;rkesat e t&euml; Drejt&euml;s s&euml; Informimit. Edhe n&euml;se p&euml;rgjigjia e marr&euml; ndaj k&euml;rkes&euml;s suaj nuk ju duket m&euml; e dobishme, ajo mund t&euml; jet&euml; me dobi p&euml;r t&euml; tjer&euml;t. P&euml;r k&euml;t&euml; arsye, ne nuk do i fshijm&euml; k&euml;rkesat.</p>
			<p>Vet&euml;m n&euml; rrethana t&euml; ve&ccedil;anta, ne mund t&euml; fshijm&euml; ose ndryshojm&euml; emrin tuaj n&euml; faqen ton&euml;, <a href="#takedown">shihni faqen tjet&euml;r</a>. N&euml; t&euml; nj&euml;jt&euml;n m&euml;nyr&euml;, ne mund t&euml; fshijm&euml; edhe informacione t&euml; tjera personale.</p>
			<p>N&euml;se jeni i shqet&euml;suar p&euml;r k&euml;t&euml; para se t&euml; b&euml;ni k&euml;rkes&euml;n tuaj, shihnni seksionin p&euml;r <a href="#real_name">pseudonimet</a>.</p>
		</dd>
		<dt id="takedown">Mund t'i fshini informacionet e mia personale? <a href="#takedown">#</a> </dt>
		<dd>
			<p>N&euml;se shihni informacione personale n&euml; faqe, t&euml; cilat d&euml;shironi q&euml; ne t&rsquo;i fshijm&euml;, at&euml;her&euml; ju lutemi t&euml; <a href="/help/contact">na e b&euml;ni t&euml; ditur</a>. Specifikoni me skat&euml;si &ccedil;far&euml; informacioni besoni &euml;sht&euml; problematik dhe arsyen pse, si dhe ku &euml;sht&euml; shfaqur n&euml; faqe.</p>
			<p>N&euml;se &euml;sht&euml; informacion personal sensitiv, q&euml; &euml;sht&euml; vendosur aksidentalisht, at&euml;her&euml; normalisht ne do ta fshijm&euml;. Zakonisht, do t&euml; marrim n&euml; konsiderat&euml; vet&euml;m k&euml;rkesat p&euml;r fshirjen e informacioneve personale, t&euml; cilat na raportohen nga nj&euml; person i shqet&euml;suar, por p&euml;r informacione sensitive, ne do ju ishim shum&euml; mir&euml;njoh&euml;s t&euml; na njoftoni n&euml;se e shihni di&ccedil;ka t&euml; till&euml;.</p>
			<p>Ne besojm&euml; se &euml;sht&euml; n&euml; interesin e publikut t&euml; gjer&euml; ruajtja e emrave t&euml; n&euml;pun&euml;sve t&euml; institucioneve publike. Emrat e tyre do t&euml; fshihen vet&euml;m n&euml; raste t&euml; ve&ccedil;anta, n&euml; raste t&euml; tilla kur zbulimi i nj&euml; emri apo pozicioni t&euml; n&euml;pun&euml;sit civil do t&euml; kompromentonte sigurin&euml; e tyre. N&euml;se ju jeni nj&euml; n&euml;pun&euml;s i till&euml; dhe k&euml;rkoni q&euml; emri juaj t&euml; fshihet, ju duhet t&euml; na d&euml;rgoni nj&euml; k&euml;rkes&euml; l&euml;shuar nga drejtori juaj. Kjo k&euml;rkes&euml; duhet t&euml; v&euml;rtetoj&euml; q&euml; nj&euml; rrezik &euml;sht&euml; v&euml;n&euml; re dhe kjo tejkalon interesin publik dhe duhet t&euml; v&euml;rtetojn&euml; q&euml; jan&euml; b&euml;r&euml; p&euml;rpjekje p&euml;r t&euml; fshehur emrin e personit dhe n&euml; faqen e tyre elektronike.</p>
			<p>P&euml;r t&euml; gjitha k&euml;rkesat e tjera, ne aplikojm&euml; nj&euml; test p&euml;r interesin publik p&euml;r t&euml; vendosur n&euml;se informacioni duhet fshir&euml;</p>
		</dd>
	</dl>
	<p><strong>M&euml;soni m&euml; shum&euml;</strong> nga <a href="/help/officers">Ndihm&euml; p&euml;r n&euml;pun&euml;sit e t&euml; Drejt&euml;s s&euml; Informimit</a> --&gt; 
</div>
